<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/myapp.log</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define el nivel de log para la parte de la base de datos -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>

    <logger name="java.lang.Exception" level="ERROR"/>

    <logger name="co.edu.unbosque.syscourier" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>
